@tailwind base;
@tailwind components;
@tailwind utilities;

#background {
  background-image: url(assets/images//login_background.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
